<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gustavosmanc/cute-alert/style.css">
        <script src="https://cdn.jsdelivr.net/gh/gustavosmanc/cute-alert/cute-alert.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <script>
            cuteAlert({
                type: "''' +  type + '''",
                title: "''' +  title + '''",
                message: "''' + desc + '''",
                buttonText: "확인"
            })
        </script>
    </body>
</html>